---
import ShareComponent from "../../components/ShareComponent.astro";
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";
import type { Asset } from "../../lib/contentful";

async function getAuthorBySlug(slug: string) {
  const entries = await contentfulClient.getEntries({
    content_type: "author",
    "fields.slug": slug,
    limit: 1,
  });

  return entries.items.length > 0 ? entries.items[0] : null;
}

async function getPostsByAuthorId(authorId: string) {
  const entries = await contentfulClient.getEntries({
    content_type: "post",
    "fields.author.sys.id": authorId,
  });

  return entries.items;
}

const { slug } = Astro.params;
const author = await getAuthorBySlug(slug);
const posts = await getPostsByAuthorId(author.sys.id);

const defaultImageUrl =
  "https://images.unsplash.com/photo-1533745848184-3db07256e163?q=80&w=3432&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D";

const imageUrl =
  (author?.fields?.potrait as Asset)?.fields?.file?.url ?? defaultImageUrl;
---

<Layout title={`${author?.fields.name ?? "Author not found"}`}>
  <section class="my-24">
    <div
      class="container mx-auto px-4 md:px-12 lg:px-24 xl:px-48 flex flex-col items-center"
    >
      {
        author ? (
          <>
            <img
              class="h-96 w-96 object-cover rounded-full"
              src={imageUrl}
              alt="Auhtor potrait"
            />
            <h1 class="text-gray-400 text-7xl mt-7">{author.fields.name}</h1>
            <ShareComponent
              youtube={author.fields.youtube}
              twitch={author.fields.twitch}
              twitter={author.fields.twitter}
              onlyFans={author.fields.onlyFans}
              facebook={author.fields.facebook}
              instagram={author.fields.instagram}
            />
          </>
        ) : (
          <p class="text-white">Author not found</p>
        )
      }
    </div>
    <section
      class="mt-10 related-posts mx-auto px-4 md:px-12 lg:px-24 xl:px-48"
    >
      {
        posts.map((post) => (
          <ul class="text-white">
            <li>
              <a
                class="text-3xl text-[var(--secondary-100)]"
                href={`/stories/${post.fields.slug}`}
              >
                {post.fields.title}
              </a>
              <p>{post.fields.description}</p>
            </li>
          </ul>
        ))
      }
    </section>
  </section>
</Layout>
