---
import Layout from "../../layouts/Layout.astro";
import CardStories from "../../components/CardStories.astro";

import { contentfulClient } from "../../lib/contentful";
import type { Posts } from "../../lib/contentful";

const entries = await contentfulClient.getEntries<Posts>({
  content_type: "post",
});
---

<Layout title="Posts">
  <section class="my-24">
    <div class="container mx-auto min-w-12">
      <h1 class="text-gray-400 text-7xl mb-5">Trends</h1>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          entries.items.map((item) => (
            <CardStories
              title={item.fields.title}
              author={item.fields.author.fields?.name}
              image={item.fields.heroImage.fields.file.url}
              description={item.fields.description}
              slug={item.fields.slug}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
