---
import Layout from "../../layouts/Layout.astro";
import CardStories from "../../components/CardStories.astro";

import { contentfulClient } from "../../lib/contentful";
import type { PostFields, AuthorFields } from "../../lib/contentful";

const entries = await contentfulClient.getEntries<PostFields>({
  content_type: "post",
});

---

<Layout title="Posts">
  <section class="my-24">
    <div class="container mx-auto min-w-12">
      <h1 class="text-gray-400 text-7xl mb-5">Trends</h1>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          entries.items.map((item) => {
            const authorEntry = item.fields.author as Entry<AuthorFields> | undefined;
            const authorName = authorEntry?.fields?.name ?? "Autor desconocido";
            const imageUrl = (item.fields.heroImage as ImageLink)?.fields?.file?.url ?? "DefaultImageUrlHere";
        
            return (
              <CardStories
                title={item.fields.title}
                author={authorName}
                image={imageUrl}
                description={item.fields.description}
                slug={item.fields.slug}
              />
            );
          })
        }
      </div>
    </div>
  </section>
</Layout>
