---
const { title, author, description, slug, image } = Astro.props;
---

<a href={`/stories/${slug}`}>
  <article class="card bg-base-100 shadow-xl">
    <figure>
      <img class="aspect-video object-cover" src={image} alt="Shoes" />
    </figure>
    <div class="text-white bg-white p-3">
      <p class="text-4xl text-[var(--secondary-100)]">
        {author}
      </p>
      <h2 class="text-gray-400 text-xl py-2">
        {title}
      </h2>
      <p class="text-black">{description}</p>
      <!-- TAGS -->
      <!-- <div class="flex justify-end text-black">
        <div class="badge badge-outline">Fashion</div>
        <div class="badge badge-outline">Products</div>
      </div> -->
    </div>
  </article>
</a>
